<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Secure Home Page</title>
	<!-- Author:      Sarah McCrie 991405606
        Program:      A4_mccries
        Date:         [12-07-2023]
        Version:      1.0     
        Description:  This is my assignment 4
    -->
	<script src="../static/js/script.js" th:src="@{/js/script.js}"></script>
	<link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}" />
</head>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:replace="header :: headerFragment"></div>
    
    
    
</body>
</html>